<!--<div class="container secciones">
  <section id="exp" class="secciones">
    <div>
      <h3>Experiencia:</h3>
    <hr>
    </div>
    <div class="card mb-3 expe" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/multimedia/ArgProg.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Full Stack Developer Jr</h4>
              <p class="card-text">Desarrollo de una aplicación web full stack, como proyecto integrador. Este portfolio</p>
              <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
              <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 expe" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/multimedia/utn resistencia.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Full stack Developer Jr</h5>
              <p class="card-text">Creación de una web donde se crea una base de datos MySQL. Creación de consultas de fechas. Manejo de fechas. Agenda de clases. Calculadora de fecha en tiempo real. Envio de comentarios, se registran en un archivo txt junto con la fecha y hora. Imagenes con PHP, marca de agua, thumbnail. POO. Registro de usuario. Inicio de sesión a través de un formulario codificando la contraseña. Validación con captcha (desarrollo propio). Carrito de compras. Seguridad. Bibliotecas. Paginación. Adminpro. FPDF  </p>
              <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
              <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
            </div>
          </div>
        </div>
      </div>  
</section>
</div>-->

<div class="container secciones">
  <div class="row ">
    <h1>Experiencia laboral</h1>
    <div class="row">
      <div class="col-8"></div>
      <div class="col-3">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExpe"><i class="fa-regular fa-plus"></i>Agregar Experiencia Laboral </button>
      </div>
    </div>
  </div>
    <hr>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Nombre Trabajo</h2> <a href="" class="img-fluid"> <img src="../../../assets/utn resistencia.png" > </a>
          <h3>Desde:</h3>
          <h3>Hasta:</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam hic consectetur commodi saepe ratione ad dicta, deleniti sunt fugiat expedita blanditiis ducimus alias, quam, sit corrupti! Aut explicabo fugit nam!</p>
        </li>
      </ul>

</div>