 <section id="edu" class="secciones container">
    <div>
      <h1>Estudios cursados</h1>
      <hr>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card mb-3 expe" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 utn">
                <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">UTN Regional Resistencia</h4>
                <h5>Programador Web inicial</h5>
                <p class="card-text">4 meses</p>
                <p class="card-text">Marzo a Julio 2022</p>
                <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
                <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 expe" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 utn">
              <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">UTN Regional Resistencia</h4>
                <h5>Programación web con PHP y MySQL</h5>
                <p class="card-text">3 meses</p>
                <p class="card-text">Julio a Octubre 2022</p>
                <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
                <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 expe" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 utn">
              <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">UTN Regional Resistencia</h4>
                <h5>Programación web con PHP y MySQL-Nivel Avanzado</h5>
                <p class="card-text">2 meses</p>
                <p class="card-text">Octubre a Diciembre 2022</p>
                <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
                <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card mb-3 expe" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 utn">
              <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">UTN Regional Resistencia</h4>
                <h5>Diplomatura en Programación Web FullStack</h5>
                <p class="card-text">9 meses</p>
                <p class="card-text">Marzo a Diciembre 2022</p>
                <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
                <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 expe" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 argprog">
              <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Argentina Programa</h4>
                <h5>#SéProgramar</h5>
                <p class="card-text">2 meses</p>
                <p class="card-text">Junio a Agosto 2022</p>
                <a href="eliminar.php"><i class="fa-regular fa-trash-can fa-xl"></i>eliminar</a>
                <a href="editar.php"><i class="fa-solid fa-pencil fa-xl"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 expe" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <!--<img src="/multimedia/Pogramador web.png" class="img-fluid rounded-start acomodar" alt="...">-->
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
