<div class="secciones container">
    <div class="row">
        <h1>Proyectos</h1>
        <hr>
        <div class="contenedor">
            <div class="col-md-6 texto">
                <h2>Carrito de compras</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolore facilis incidunt fugiat recusandae delectus autem ad quis quia atque, iure architecto sequi, tempora facere voluptate veniam, sit asperiores voluptatum.</p>
            </div>
            <div class="col-md-4 col-sm-4 offset-md-1 imagen">
                <img class="img-fluid img-pro" src="../../../assets/planetasescala.jpg" alt="">
            </div>
        </div>
    </div>
</div>
