<!--<div class="container">
    <section id="sec2" class="secciones">
        <div class="card card1" style="width:40%">
                <img id="foto" src="/multimedia/carlos1.jpg" alt="...">
                <hr>
                <div class="card-body">
                  <h4 class="card-title">Cabrera, Carlos Exequiel</h4>
                  <p class="card-text">Full Stack Developer Jr</p>
                  <p class="card-text">Santa Fe, Argentina</p>
                  <p class="card-text">elsanto269@gmail.com</p>
                </div>    
        </div>
        <aside id="aside" class="card card1">
            <div >
                <h3>Sobre mi:</h3>
                <hr>
                <h5>Soy Full Stack Developer Jr desde el año 2023. En este portfolio web encontrarás información acerca de mí, como mis experiencias laborales en empresas con perfil tecnológico, mi educación en el área IT, mis habilidades con los distintos lenguajes de programación. </h5>
            </div>
        </aside>
    </section>
</div>-->

<div class="container secciones">
    <div class="row ">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <img src="../../../assets/carlos1.jpg" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-2">
            <h4 id="nombre"> {{persona.apellido}}, {{persona.nombre}}</h4>
            <h4>Full Stack Developer Jr</h4>
        </div>
        <div class="col-xs-12 col-sm-7 col-lg-8">
            <span>
                <h1>Sobre mi</h1>
                <hr>
                <p>Soy Full Stack Developer Jr desde el año 2023. En este portfolio web encontrarás información acerca de mí, como mis experiencias laborales en empresas con perfil tecnológico, mi educación en el área IT, mis habilidades con los distintos lenguajes de programación.</p>
            </span>
        </div>

    </div>
</div>